<main id="root"><img src="https://cdn.vox-cdn.com/thumbor/69uyYrsxeAHDegcL1-nnyT0rYik=/75x0:825x500/1310x873/cdn.vox-cdn.com/uploads/chorus_image/image/49493993/this-is-fine.0.jpg" alt=""> </main>

<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
                                     user: current_user).html_safe %>
  <% end %>
</script>
