.channel-index ul {
  display: flex;
  flex-wrap: wrap;
}

.channel-index {
  position: absolute;
  left: 15%;
  top: 5%;
}

.channel-index-item {
  margin: 10px;
  width: 15%;
}

.channel-index-item:hover {
  color: $light-purple;
  cursor: pointer;
}

.channel-index-item-image {

}

.channel-index-item-name {

}
