.follow-index {
  display: flex;
  position: absolute;
  top: 60px;
  overflow-y: auto;
  bottom: 50px;
  width: 100%;
  font-size: 16px;
}

.follow-index::-webkit-scrollbar {
  width: 0
}

.follow-index ul {
  width: 100%;
}

.follow-index-item {
  padding: 10px 10px;
  cursor: pointer;
  width: calc(100% - 20px);
  transition-duration: 0.3s;
}

.follow-index-item:hover {
  background-color: $light-purple;
  transition-duration: 0.3s;
}

.follow-info {
  display: flex;
  align-items: center;
}

.follow-info img {
  width: 35px;
  height: 35px;
}

.follow-info-header h2 {
  font-size: 12px;
}

.follow-info-username {
  font-weight: 700;
  border-bottom: 2px solid $lightest-purple;
}

.follow-info-header {
  padding-left: 5px;
}

.follow-index-item-div {
  display: flex;
}

.follow-remove {
  color: white;
  border: none;
  background-color: transparent;
  transition-duration: 0.3s;
}

.follow-remove:hover {
  background-color: red;
  transition-duration: 0.3s;
}
