.modal-close {
  display: none;
}

.modal-open {
  display: block;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.login-form-container {
  display: block;
  position: fixed;
  top: 27%;
  left: 37%;
  right: 37%;
  border: 2px solid $purple;
  border-radius: 5px;
  width: 25%;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  z-index: 3;
  transition-duration: 0.5s;
}

.login-form-container:hover {
  border: 2px solid $lightest-purple;
  transition-duration: 0.5s;
}

.login-form-box {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  padding: 75px 50px;
}

h3 {
  font-weight: 400;

}

.login-form-switch {
  font-size: 16px;
}

.login-form-link {
  text-decoration: underline;
}

.login-form-link:hover {
  color: blue;
  text-decoration: underline;
}

.login-form {
  font-size: 14px;
  font-weight: 400;
}

.login-form-errors {
  color: red;
  text-align: center;
}

.login-form input {
  margin: 10px;
  border: 1px solid $purple;
  font-family: 'Open Sans';
  border-radius: 10.2px;
  transition-duration: 0.5s;
  padding: 0px 10%;
  text-align: center;
}

#login-form-button {
  margin: 10px;
  border: 1px solid $purple;
  font-family: 'Open Sans';
  border-radius: 5px;
  transition-duration: 0.5s;
  padding: 0px 10%;
  text-align: center;
}

.login-form input:focus {
  border: 1px solid $gray;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px $purple;
}

.login-form input:hover {
  border: 1px solid $gray;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px $purple;
}

#login-form-button {
  background-color: $purple;
  color: white;
  transition-duration: 0.5s;
  font-size: 16px;
  padding: 7px 14px;
}

#login-form-button:hover {
  transition-duration: 0.5s;
  background-color: $lightest-purple;
  box-shadow: 0px 0px 10px $purple;
}

#login-form-button:active {
  background-color: #362955;
  box-shadow: 0px 0px 10px $purple;
}
