.navbar {
  background-color: $purple;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 5;
  position: fixed;
  top: 0px;
}

.navbar img {
  padding: 7px 14px;
  width: 94px;
}

.navbar-auth {
  display: flex;
  color: $gray;
  align-items: center;
  padding-right: 7px;
}

.navbar-auth img {
  width: 35px;
  padding: 0px;
}

.navbar-greeting {
  padding: 7px 14px;
}

.navbar-button {
  margin-right: 7px;
  padding: 7px 14px;
  background-color: $light-purple;
  border: none;
  color: white;
  transition-duration: 0.5s;
}

.navbar-button:hover {
  transition-duration: 0.5s;
  background-color: $lightest-purple;
}

.navbar-button:active {
  background-color: #362955;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 57%;
  color: white;
}

.navbar-left-browse:hover {
  text-decoration: underline;
}
