.navbar {
  background-color: $purple;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.navbar img {
  padding: 7px 14px;
  width: 94px;
}

.navbar-auth {
  display: inline-flex;
  color: $gray;
  align-items: center;
  padding-right: 7px;
}

.navbar button {
  margin-right: 7px;
  padding: 7px 14px;
  background-color: $light-purple;
  border: none;
  color: white;
  transition-duration: 0.5s;
}

.navbar button:hover {
  transition-duration: 0.5s;
  background-color: $lightest-purple;
}
