.login-form-container {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  width: 25%;
  padding: 10px;
  margin: 0 auto;
}

.login-form-box {
  margin: 0 auto;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 700;
}

.login-form {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 50px;
}
