.sidebar {
  background-color: #322f37;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 15%;
  height: calc(100% - 36.61px);
  left: 0;
  top: 36.61px;
  margin: 0;
  z-index: 1;
  color: white;
}

.placeholder-sidebar {
  background-color: #322f37;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 15%;
  height: calc(100% - 36.61px);
  left: 0;
  top: 36.61px;
  margin: 0;
  z-index: -1;
  color: white;
  align-items: center;
  justify-content: center;
}
