.sidebar {
  background-color: #322f37;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 15%;
  height: calc(100% - 36.61px);
  left: 0;
  top: 36.61px;
  margin: 0;
  z-index: 1;
  color: white;
  justify-content: center;
}

.sidebar-title {
  display: block;
  height: 30px;
  margin: 0 auto;
  justify-content: center;
  padding-top: 15px;
}

.sidebar-divider {
  border-bottom: 2px solid #221e2d;
  border-radius: 5px;
  position: absolute;
  width: 90%;
  height: 38.61px;

}

.placeholder-sidebar {
  background-color: #322f37;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 15%;
  height: calc(100% - 36.61px);
  left: 0;
  top: 36.61px;
  margin: 0;
  z-index: -1;
  color: white;
  align-items: center;
  justify-content: center;
}
